
.header {
  width: 1100px;
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
}        

.header .menu-column {
  grid-column: 1;
  margin-top: 133px; 
  margin-left: 50px; 
}

.menu-list {
  list-style: circle;
  margin: 0;
  padding: 0;
}

.menu-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  color: #000;
  display: flex;
  align-items: center;
}

.menu--horizontal .menu-list {
  display: flex;
  align-items: center;
}

.menu-item {
  margin-right: 33px; /* отступ после каждого пункта */
}

.menu-item.no-marker {
  list-style: none;
  text-decoration: none;
}

.menu-item .menu-main{
  text-decoration: none;
}

/* Логотип - вторая колонка */
.logo-column {
  grid-column: 2; 
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 92px;
  padding-bottom: 96px;
}

/* Контакты - третья колонка */
.contacts-column {
  grid-column: 3;
  display: flex;
  align-items: start;
  justify-content: end;
  margin-top: 95px;
  margin-right: 50px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.35;
}

.logo-img {
  width: 148px;
  height: 105px;
}

.contacts-content {
  width: 240px;
  font-style: normal; 
}

.cover {
  width: 1100px;
  min-height: 757px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 180px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.cover-inner {
  left: 55px;
}

.cover-title {
  display: block;
  width: 100%;
  padding-top: 165px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 106px;
}

.title-word {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 130%;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  width: 100%;
}

.title-word-left {
  grid-row: 1;
  justify-self: start;
  align-self: start;
  margin: 0;
  width: 286px;
  text-align: left;
}

.title-word-center {
  grid-row: 2;
  justify-self: start;
  align-self: start;
  margin-top: 0px;
  margin-left: 330.5px;
  width: 339px;
  text-align: center;
}

.title-word-right {
  grid-row: 3;
  justify-self: end;
  align-self: end;
  margin: 0;
  margin-right: -30px;
  text-align: end;
}

.description-container {
  width: 1100px;
  top: 757px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  z-index: 2;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 107px;
  padding-left: 50px;
  box-sizing: border-box;
  border: none;
  
 
}

.description-text {
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 28px;
  font-size: 22px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  word-spacing: 15px;
  text-align: left;
 
}

.button {
  width: 256px;
  height: 51px;
  z-index: 2;
  display: grid;
  align-items: center;
  border:1px solid #FFFFFF; 
  background: transparent;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-right: 50px;
}

.lots {
  width: 1052px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 334px 25px 334px 25px 334px;
  grid-template-areas: 
    "title . . . ."
    ". . . . ." 
    "lot-1 . lot-2 . lot-3"
    "more . . . .";
  margin-bottom: 150px;
}

/* Заголовок "ЛОТЫ" */
.lots-title {
  grid-area: title;
  width: 121px;
  justify-self: start;
  align-self: start;
  margin-left: 40px;
  margin-bottom: 27px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
}

/* Список лотов */
.lots-list {
  grid-area: lot-1 / 1 / lot-3 / 6; /* занимает всю область лотов */
  display: contents; /* элементы списка становятся частью грида */
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Элементы списка занимают грид-области */
.lots-item.lot-film {
  grid-area: lot-1;
  justify-self: start;
}

.lots-item.lot-book {
  grid-area: lot-2;
  justify-self: center;
}

.lots-item.lot-picture {
  grid-area: lot-3;
  justify-self: end;
}

/* ОБЩИЕ СТИЛИ ДЛЯ ВСЕХ КАРТОЧЕК */
.lot-card {
  display: flex;
  flex-direction: column; /* ИЗМЕНИТЬ: выравнивание по колонке */
  justify-content: space-between; 
  width: 334px;
  min-height: 596px;
  position: relative;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #FFFFFF;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

/* Уникальные фоны */
.lot-film .lot-card {
  background-image: url('../images/card-lot-01.jpg');
}

.lot-book .lot-card {
  background-image: url('../images/card-lot-02.jpg');
}

.lot-picture .lot-card {
  background-image: url('../images/card-lot-03.jpg');
}

/* ОБЩИЕ СТИЛИ ДЛЯ ЗАГОЛОВКОВ И ОПИСАНИЙ */
.lot-card__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  z-index: 2;
}

.lot-card__description {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  z-index: 2;
}

.lots-more {
  grid-area: more;
  justify-self: start;
  align-self: start;
  margin-left: 40px;
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.about {
  width: 1052px;
  margin: 120px auto 180px 70px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  gap: 70px;
  align-items: flex-start;
}

/* Логотип в круге */
.about__logo {
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 50%;
  flex-shrink: 0;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__content {
  padding-top: 108px; 
  flex: 1;
}

/* Заголовок */
.about__header {
  width: 291px;
  margin-bottom: 10px; 
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
  line-height: 1;
}

/* Первый абзац */
.about__text1 {
  width: 688px;
  margin-top: 100px; 
  margin-bottom: 0;
  letter-spacing: 0.5px;
}

/* Второй абзац */
.about__text2 {
  width: 693px;
  margin-top: 24px;
  letter-spacing: 0.5px; 
}

.about__paragraph {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  line-height: 1.3;
}

.footer {
  width: 1100px;
  display: grid;
  grid-template-columns: 316px 1fr 163.9px 1fr 240px;
  align-items: start;
  padding-right: 50px;
}

/* Контакты */
.footer .contacts-column {
  width: 264.57px;
  margin-left: 50px;
  margin-bottom: 82px;
  margin-top: 0; 
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.3;
  grid-column: 1;
  display: block;
  border: none;
}

.menu--vertical .menu-list {
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 154px;
  min-width: 163.9px;
  line-height: 0.1;
}

.menu-link.menu-main {
  text-decoration: none;
}

.social {
  grid-column: 5;
  width: 100%;
  margin-bottom: 131px;
  margin-top: 1px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between; 
  gap: 48px;
}

.social a {
  flex: 1;
  display: flex;
  justify-content: center;
}

.social-icon {
  max-width: 48px;
  height: auto;
  max-width: none;
}

